HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/client/node
/client/node_modules
/client/npm-debug.log
/client/yarn-error.log


# Miscellaneous
/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings
/src/main/resources/static

# System files
/client/.DS_Store
/client/Thumbs.db
